* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #777;
    color: white;
    padding: 10px 20px;
}
#logo {
    width : 200px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Main content area */
main {
    padding: 20px;
}
/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: #ccc;
    position: fixed;
    bottom: 0;
    width: 100%;
}